Skip to content
This repository
Search
Pull requests
Issues
Marketplace
Gist
 @Chakib-Temal
 Sign out
 Watch 2
  Star 11
  Fork 6 LearnTeachCode/Battleship-JavaScript
 Code  Issues 0  Pull requests 0  Projects 0  Wiki Insights 
Tree: 91b77c433a Find file Copy pathBattleship-JavaScript/style.css
91b77c4  on 28 Sep 2015
@LearningNerd LearningNerd Rename main.css to style.css
1 contributor
RawBlameHistory      
36 lines (31 sloc)  737 Bytes
body {
    margin: 60px auto;
    width: 70%;
    max-width: 950px;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p, button, input {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
	margin-bottom:1em;
}

#gameboard {
	position:relative;
	margin:0 auto 2em auto;
	width:500px;
	height:500px;
}

#gameboard div {
	position:absolute;
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
	background: #f6f8f9; /* Old browsers */
	border: 1px solid #ddd;
	width:50px;
	height:50px;
}
Contact GitHub API Training Shop Blog About
© 2017 GitHub, Inc. Terms Privacy Security Status Help